:root {
  --vp-c-brand-1: #eb4432;
  --vp-c-brand-2: #e82c18;
  --vp-c-brand-3: #dd2916;
  --vp-c-brand-soft: #f38b80;
}

.dark {
  --vp-c-brand-1: #ee5c4c;
  --vp-c-brand-2: #ef6859;
  --vp-c-brand-3: #f38b80;
}

:root {
  --vp-code-color: rgb(215, 58, 73);
}

.dark {
  --vp-code-color: rgb(80, 250, 123);
}

code {
  color: var(--vp-code-color);
}
